/bot-platform/.classpath
/bot-platform/.project
/bot-platform/.settings/org.eclipse.core.resources.prefs
/bot-platform/.settings/org.eclipse.jdt.core.prefs
/bot-platform/.settings/org.eclipse.m2e.core.prefs
/viber-bot-lib/.classpath
/viber-bot-lib/.project
/viber-bot-lib/.settings/org.eclipse.core.resources.prefs
/viber-bot-lib/.settings/org.eclipse.jdt.core.prefs
/viber-bot-lib/.settings/org.eclipse.m2e.core.prefs
