/bot-platform/.classpath
/bot-platform/.project
/bot-platform/.settings/org.eclipse.core.resources.prefs
/bot-platform/.settings/org.eclipse.jdt.core.prefs
/bot-platform/.settings/org.eclipse.m2e.core.prefs
/viber-bot-lib/.classpath
/viber-bot-lib/.project
/viber-bot-lib/.settings/org.eclipse.core.resources.prefs
/viber-bot-lib/.settings/org.eclipse.jdt.core.prefs
/viber-bot-lib/.settings/org.eclipse.m2e.core.prefs
/test-bot/.classpath
/test-bot/.project
/test-bot/.settings/org.eclipse.core.resources.prefs
/test-bot/.settings/org.eclipse.jdt.core.prefs
/test-bot/.settings/org.eclipse.m2e.core.prefs
/viber-bot-lib/target/classes/META-INF/MANIFEST.MF
/viber-bot-lib/target/classes/META-INF/maven/com.reconsale/viber-bot-lib/pom.properties
/viber-bot-lib/target/classes/META-INF/maven/com.reconsale/viber-bot-lib/pom.xml
/viber-bot-lib/target/classes/com/reconsale/viber4j/SenderInfo.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/ViberBot$CallbackEvent.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/ViberBot.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/ViberBotImpl.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/ViberBotManager.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/account/AccountInfo$Member.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/account/AccountInfo.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/account/UserDetails.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/account/UserOnline.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/http/DefaultViberClient.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/http/ViberClient.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/incoming/Incoming.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/incoming/IncomingImpl.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/BtnActionType.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ButtonContainer$InputFieldState.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ButtonContainer.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/RichMedia.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ViberButton$BgMediaType.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ViberButton$InternalBrowser.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ViberButton$OpenURLType.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ViberButton$TextAlign.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ViberButton$TextSize.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ViberButton.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/keyboard/ViberKeyboard.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/outgoing/MessageType.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/outgoing/Outgoing.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/outgoing/OutgoingImpl.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/utils/JsonUtils.class
/viber-bot-lib/target/classes/com/reconsale/viber4j/utils/ViberConstants.class
